.altera-senha {
    display: block;
    align-content: center;
    justify-content: center;
    margin:15px 10px;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    border-color: #ceccccc4;
    border-radius: 8px;
}

.altera-senha ion-item{
    --background: #fcf9f9f5;
    font-size:12px;
}

.header h2{
    font-weight: 600;
    color: rgb(10, 11, 43);
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}