.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


ion-toolbar {
  --background: #111111;
}

ion-menu-button{
  color: #f5f5f5;
}

.content-menu ion-item{
  --background: #fcf9f9f5;
}

ion-content{
  --background: #fcf9f9f5;
}

ion-label{
  padding-left: 10px;
}

.div-imagem-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-content{
  background-color: rgba(219, 217, 217, 0.089);
}