.accordion-section{
    flex-direction: column;
}

  .accordion {
    display: flex;
    transition: background-color 0.6 ease;
    margin: 4px 8px;
    box-shadow:0 3px 10px 0 rgba(172, 172, 172, 0.486);
    border-width: 1px;
    border-radius: 8px;
    --background:linear-gradient(300deg,rgba(247, 242, 242, 0.733) 0%, rgba(242, 242, 243, 0.911) 18.5%, rgb(253, 253, 253) 100%) !important;
    --color:rgb(55, 56, 55);
    --background-activated:rgb(207, 208, 209);
    --detail-icon-color: rgb(16, 68, 2);
}

.accordion-title p{
    color:rgb(65, 66, 64);
}

.accordion-icon {
    margin-left: auto;
    transition: transform 0.6 ease;
}

.thumb{
    height: 25px;
    width: 70px;
    margin-right: 2px;
}

.accordion-content {
    overflow: hidden;
    transition: max-height 0.6s ease;
    margin: 0px 2px;
}

.accordion-list ion-item{
    font-size: 14px;
}

.accordion-list ion-list{
    margin: 5px 10px;
    background: rgb(238, 235, 235);
    box-shadow:0 3px 10px 0 rgba(172, 172, 172, 0.486);
    padding: 4px;
}

.accordion-list ion-list-header{
    border-radius: 5px;
}


.accordion-content ion-item{
    padding-bottom: 2px;
    --background: linear-gradient(300deg,rgba(247, 242, 242, 0.733) 0%, rgba(236, 236, 241, 0.911) 18.5%, rgb(253, 253, 253) 100%) !important;
}

.accordion-content span{
    color: rgb(56, 56, 56);
    font-size: 14px;
    font-weight: 600;
    font-stretch: expanded;
}

.accordion-content ion-list-header {
    color: rgb(255, 255, 255);
    --background: rgb(35, 133, 179);
    /**--background: rgb(161, 182, 43); tema verde**/
    font-weight: 600;    
} 

.last-item {
    --border-width: 0px 0 2px 0px;
    --border-radius: 8px;
}